@media screen and (max-width: 1200px) {
    .card {
        width: 60%;
        height: 60%;
    }
}
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2.2rem;
    }
    .modal-content {
        text-align: center;
    }
    p.settings-title {
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    .settings-option {
        flex-direction: column;
    }
    .multi-button {
        flex-grow: 1;
    }
    .multi-option {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .card {
        width: 80%;
    }
}
@media screen and (max-width: 480px) {
    .card {
        width: 90%;
    }
    h1 {
        font-size: 2rem;
    }
    html {
        font-size: 14px;
    }
}

@media screen and (max-height: 1024px) {
    body {
        height: auto;
    }
}
@media screen and (max-height: 768px) {
    body {
        height: auto;
    }
    html {
        font-size: 12px;
    }
}