html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    max-width: 90%;
}

label, p {
    font-size: 1.6rem;
}

/* Cards */
.card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 50%;
    height: 65%;
    text-align: center;
    border-radius: 10px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Responsive media queries */
@media screen and (max-width: 1200px) {
    .card {
        width: 60%;
        height: 60%;
    }
}
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 768px) {
    .card {
        width: 80%;
    }
}
@media screen and (max-width: 480px) {
    .card {
        width: 90%;
    }
    h1 {
        font-size: 2rem;
    }
    html {
        font-size: 14px;
    }
}

@media screen and (max-height: 1024px) {
    body {
        height: auto;
    }
}
@media screen and (max-height: 768px) {
    body {
        height: auto;
    }
    html {
        font-size: 12px;
    }
}

/* Groups of label and input field */
.input-item {
    margin-bottom: 18px;
}
.input-item:nth-last-child(1) {
    margin-bottom: 0;
}

/* Input fields */
input {
    outline: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    background-color: #fff;
    border: 1px solid #d6d6e7;
    color: rgb(35, 38, 59);
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
    overflow: hidden;
    transition: all 100ms ease-in-out; 
}
input:focus {
    border: 1px solid #000;
}

/* Calculate button */
#calculate {
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    width: 100%;
}

#calculate:disabled {
     pointer-events: none;
}

#calculate:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#calculate:active {
    box-shadow: none;
    transform: translateY(0);
}

/* Result */
#result {
    font-size: 2rem;
    font-weight: 600;
    padding: 0 16px;
    width: 100%;
    color: red;
}

/* Copyright */
#copyright {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 16px 24px;
}